<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">

    <div>
      <ul class="list-group">
        {{#each records}}
        <li class="list-group-item">
          <div>
            <small title="{{id}}">{{contract}}</small>
            {{stamp}}
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
   
  </div>
</div>