<div id="searchPanel" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Results</h3>
    </div>
    <div class="panel-body">
        Some
        <re></re>sults should follow
    </div>
</div>