
/* Custom */
.vis-item {
  border-color: #97b0f8;
  background-color: white;
  box-shadow: 0px 2px 4px 0px lightgray;
  margin-bottom: 10px;
}

.vis-item:hover {
  border-color: orange;
  box-shadow: 0px 8px 16px 0px orange;
}

.vis-item.vis-line {
  opacity: 0.5;
}

.vis-item.vis-dot {
  opacity: 0.5;
}

/* Content */
.timeline .record.content > .name {
  font-size: 14px;
}

.timeline .record.content > .counter {
  font-size: 12px;
  color: lightsalmon;
}

/* Colors */
.purple {
  background: #BA68C8;
}

.green {
  background: #52A43A;
}

.yellow {
  background: #F7AA17;
}

.red {
  background: #EF5350;
}

/* Template */
.record {
}

.record .card {
  max-width: 180px;
}

.record .card .content .venue .name {
}

/* General */
.wrap {
  white-space: pre-line;
  /* overflow-wrap: break-word; */
  /* word-wrap: break-word; */
}

