{{#if this}}

<div class="record card">

  {{!-- Header --}}
  <div class="header">
    <span class="icons">
      {{#each colors}}
      <i class="fa fa-circle {{value}}" aria-hidden="true" title="{{value}}"></i>
      {{/each}}
    </span>
    <span class="type" title="interinstitutional">
      <i class="fa fa-gavel" aria-hidden="true"></i>
    </span>
  </div>

  {{!-- Content --}}
  <div class="content title">
    <a href="{{link}}" target="-blank">
      {{name}}
    </a>
  </div>

</div>
{{/if}}