.timeline {
  border: 1px solid lightblue;
  /* height: 100%;
  width: 100%; */
  align-items: stretch;
}

.menu {
  position: absolute;
  margin: 10px;
  z-index: 9999;
}

.menu.left {
  top: -40px;
  left: 0;
}

.menu.right {
  top: -40px;
  right: 0;
}

.menu > i {
  opacity: 0.7;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}