<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <div class="timeline">
      <div class="menu left">
        <i id="zoomIn" class="fa fa-search-plus" aria-hidden="true" title="Zoom in"></i>
        <i id="zoomOut" class="fa fa-search-minus" aria-hidden="true" title="Zoom out"></i>
      </div>
      <div class="menu right">
        <i id="moveLeft" class="fa fa-arrow-left" aria-hidden="true" title="Move left"></i>
        <i id="moveCenter" class="fa fa-dot-circle-o" aria-hidden="true" title="Center today"></i>
        <i id="moveRight" class="fa fa-arrow-right" aria-hidden="true" title="Move right"></i>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 50px">
  <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <div class="current">
    </div>
  </div>
</div>