/* Timeline */
.timeline {
  border: 1px solid lightblue;
}


/* Menu */
.timeline .menu {
  position: absolute;
  margin: 10px;
  z-index: 9999;
}

.timeline .menu.left {
  top: -40px;
  left: 0;
}

.timeline .menu.right {
  top: -40px;
  right: 0;
}

.timeline .menu > i {
  opacity: 0.7;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}


/* Colors */
.turquoise { color: #66CCCC;}
.green { color: #99bc53;}
.purp { color: #b047c6;}
.red { color: #ee3853;}
.d-green {color: #009678;}
.violet { color: #9494ed;}
.orange { color: #ff8e39;}
.d-grey { color: #66574a;}
.l-blue { color: #6bbae7;}
.brown { color: #d69651;}
.pink { color: #e29cde;}
.yell {color: #ffc050;}