<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <section class="main-timeline-section">
      <div class="timeline-start"></div>
      <div class="conference-center-line"></div>
      <div class="conference-timeline-content">

        <div class="hedding-title">Apr 2018</div>
        
        <div class="timeline-article content-right-container">
          <div class="content-date">
            <span>Apr 14</span>
          </div>
          <div class="meta-date"></div>
          <div class="content-box">
            <div class="image-part">
              <img src="/src/app/demo/timeline/img/man01.png">
            </div>
            <div class="title-description">
              <h1>John Doe</h1>
              <br>
              <p>Lorem prehenderit in voluptate velit esse cillum dolore eu fugiat nullaa deserunt mollit anim id est laborum
                dolore.
              </p>
            </div>
          </div>
        </div>

        <div class="timeline-article content-left-container">
          <div class="content-date">
            <span>june 12</span>
          </div>
          <div class="meta-date"></div>
          <div class="content-box">
            <div class="image-part">
              <img src="/src/app/demo/timeline/img/man02.png">
            </div>
            <div class="title-description">
              <h1>John Doe</h1>
              <br>
              <p>Lorem prehenderit in voluptate velit esse cillum dolore eu fugiat nullaa deserunt mollit anim id est laborum
                dolore.
              </p>
            </div>
          </div>
        </div>

        <div class="hedding-title">Apr 2018</div>

        <div class="timeline-article content-right-container">
          <div class="content-date">
            <span>Feb 18</span>
          </div>
          <div class="meta-date"></div>
          <div class="content-box">
            <div class="image-part">
              <img src="/src/app/demo/timeline/img/man03.png">
            </div>
            <div class="title-description">
              <h1>John Doe</h1>
              <br>
              <p>Lorem prehenderit in voluptate velit esse cillum dolore eu fugiat nullaa deserunt mollit anim id est laborum
                dolore.
              </p>
            </div>
          </div>
        </div>

        <div class="timeline-article content-left-container">
          <div class="content-date">
            <span>March 20</span>
          </div>
          <div class="meta-date"></div>
          <div class="content-box">
            <div class="image-part">
              <img src="/src/app/demo/timeline/img/man04.png">
            </div>
            <div class="title-description">
              <h1>John Doe</h1>
              <br>
              <p>Lorem prehenderit in voluptate velit esse cillum dolore eu fugiat nullaa deserunt mollit anim id est laborum
                dolore.
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="timeline-end"></div>
    </section>
  </div>
</div>