<script id="footer-partial" type="text/x-handlebars-template">

 <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <footer class="footer">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <p class="text-muted">
            <a href="about.html">About Kiklos</a>&nbsp;&verbar;&nbsp;
            <a href="glossary.html">Glossary</a>&nbsp;&verbar;&nbsp;
            <a href="mailto:kiklos@cor.europa.eu?Subject=Hello%20KIKLOS team" target="_top">Contact us</a>&nbsp;&verbar;&nbsp;
          </p>
        </div>

        <div class="hidden-xs col-sm-6 col-md-8 text-right">
          <p class="text-muted text-right">
            <span>Last update: {{lastUpdate}} </span>
            <span class="hidden-sm">&nbsp;&verbar;&nbsp;</span>
            <span class="hidden-sm">Powered by the Techday &copy;2016</span>
          </p>
        </div>

      </div>
    </div>
  </footer>
</nav>

</script>