<div class="menu">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" data-navigo>Demo</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        
        {{!-- Home --}}
        <li class="active">
          <a id="home" href="/" data-navigo>Home</a>
        </li>

        {{!-- About --}}
        <li>
          <a id="about" href="/todos" data-navigo>Todos</a>
        </li>

        {{!-- Contact --}}
        <li>
          <a id="contact" href="/cards" data-navigo>Cards</a>
        </li>

        {{!-- Profile --}}
        <li>
          <a id="profile" href="/profile" data-navigo>Profile</a>
        </li>

        {{!-- Options --}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" 
            data-toggle="dropdown" role="button" 
            aria-haspopup="true" aria-expanded="false">
            Options
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/options/alpha" data-navigo>Alpha</a>
            </li>
            <li>
              <a href="/options/beta" data-navigo>Beta</a>
            </li>
            <li>
              <a href="/options/gama" data-navigo>Gama</a>
            </li>
            <li>
              <a href="/options/omega" data-navigo>Omega</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">
              Samples
            </li>
            <li>
              <a href="/animals" data-navigo>Animals</a>
            </li>
            <li>
              <a href="/timeline" data-navigo>Timeline</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>

</div>