<footer class="footer">
  <div class="container">
    <div class="content-footer">
      <p>
        Page © - 2018
        <br> Techday By
        <a href="https://www.cor.europa.eu" target="_blank">CoR</a>
      </p>
    </div>
  </div>
</footer>