.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.content-footer {
  padding-top: 10px;
}

.content-footer p {
	color: #6d6d6d;
  font-size: 12px;
  text-align: center;
}

.content-footer p a {
	color: inherit;
	font-weight: bold;
}