<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">

    <h4>Inbox</h4>

    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <span class="glyphicon glyphicon-ok"></span>
          <strong>Success</strong>
          <hr class="separator">
          <p>
            You successfully read this important alert message.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <span class="glyphicon glyphicon-info-sign"></span>
          <strong>Info</strong>
          <hr class="separator">
          <p>
            This alert needs your attention but it's not that important.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <span class="glyphicon glyphicon-record"></span>
          <strong>Warning</strong>
          <hr class="separator">
          <p>
            Best check yourself as you're not looking too good.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×</button>
          <span class="glyphicon glyphicon-hand-right"></span>
          <strong>Danger</strong>
          <hr class="separator">
          <p>
            Change a few things here and there and try up again.</p>
        </div>
      </div>
    </div>

  </div>
</div>