<div id="dragonsPanel" class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">here be dragons</h3>
    </div>
    <div class="panel-body">
        <small>
          roam somewhere else
        </small>
    </div>
</div>