<div id="homePanel" class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Home</h3>
    </div>
    <div class="panel-body">
        <h4>Begone {{userName}}, nothing to see here</h4>
        <h5>If I were you, I would pick another menu item <small>(hint)</small></h5>
    </div>
</div>