<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
    <div class="clusters">
      <div class="menu left">
        <i id="zoomIn" class="fa fa-search-plus" aria-hidden="true" title="Zoom in"></i>
        <i id="zoomOut" class="fa fa-search-minus" aria-hidden="true" title="Zoom out"></i>
        <i id="focusIn" class="fa fa-expand" aria-hidden="true" title="Focus in"></i>
        <i id="focusOut" class="fa fa-compress" aria-hidden="true" title="Focus out"></i>
      </div>
      <div class="menu center">
        <i id="scaleDay" class="fa fa-calendar-o" aria-hidden="true" title="Scale (day)"></i>
        <i id="scaleWeek" class="fa fa-calendar-o" aria-hidden="true" title="Scale (week)"></i>
        <i id="scaleMonth" class="fa fa-calendar-o" aria-hidden="true" title="Scale (month)"></i>
        <i id="scaleQuarter" class="fa fa-calendar-o" aria-hidden="true" title="Scale (quarter)"></i>
        <i id="scaleYear" class="fa fa-calendar-o" aria-hidden="true" title="Scale (year)"></i>
      </div>
      <div class="menu right">
        <i id="moveLeft" class="fa fa-arrow-left" aria-hidden="true" title="Move left"></i>
        <i id="moveCenter" class="fa fa-dot-circle-o" aria-hidden="true" title="Center today"></i>
        <i id="moveRight" class="fa fa-arrow-right" aria-hidden="true" title="Move right"></i>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
    <div class="row info">
      <div class="col-xs-4 col-sm-4 col-md-12 span">
        <strong>Span:</strong>
        <span id="span-nice"></span>
        <pre id="span-json"></pre>
        <pre id="span-total"></pre>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-12 unit">
        <strong>Unit:</strong>
        <span id="unit-nice"></span>
        <pre id="unit-json"></pre>
        <pre id="unit-total"></pre>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-12 rules">
        <strong>Rules:</strong>
        <div id="rule-name"></div>
        <div id="rule-format"></div>
      </div>
    </div>
  </div>

</div>