/* General */
.clusters {
}

/* Menu */
.clusters .menu {
  position: absolute;
  margin: 10px;
  z-index: 9999;
}

.clusters .menu.left {
  top: -40px;
  left: 0;
}

.clusters .menu.right {
  top: -40px;
  right: 0;
}

.clusters .menu > i {
  opacity: 0.7;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/* Custom */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
  background: lightcyan;
}

.vis-item {
  border-color: #97b0f8;
  background-color: white;
  box-shadow: 0px 2px 4px 0px lightgray;
  margin-bottom: 10px;
}

.vis-item:hover {
  border-color: orange;
  box-shadow: 0px 8px 16px 0px orange;
}

.vis-item.vis-line {
  opacity: 0.5;
}

.vis-item.vis-dot {
  opacity: 0.5;
}

.vis-item .vis-item-content {
  white-space: normal;
}
