<div class="clusters group">
  <span class="icons" title="{{name}}">
      <i class="fa fa-circle turquoise" aria-hidden="true"></i>
      <i class="fa fa-circle green" aria-hidden="true"></i>
      <i class="fa fa-circle purp" aria-hidden="true"></i>
      <i class="fa fa-circle red2" aria-hidden="true"></i>
      <i class="fa fa-circle d-green" aria-hidden="true"></i>
      <i class="fa fa-circle violet" aria-hidden="true"></i>
      <i class="fa fa-circle orange" aria-hidden="true"></i>
      <i class="fa fa-circle d-grey" aria-hidden="true"></i>
      <i class="fa fa-circle l-blue" aria-hidden="true"></i>
      <i class="fa fa-circle brown" aria-hidden="true"></i>
      <i class="fa fa-circle pink" aria-hidden="true"></i>
      <i class="fa fa-circle yell" aria-hidden="true"></i>
    </span>
    <span class="type" title="interinstitutional">
      <i class="fa fa-gavel" aria-hidden="true"></i>
    </span>
    <span class="count">{{count}}</span> 
</div>
