{{#each items}}
<!--<div>
  <strong>{{content}}</strong>
</div>-->

<div class="record card">

  {{!-- Header --}}
  <div class="header">
    <span class="icons">
      <i class="fa fa-circle turquoise" aria-hidden="true" title="turquoise"></i>
      <i class="fa fa-circle green" aria-hidden="true" title="green"></i>
      <i class="fa fa-circle purp" aria-hidden="true" title="purp"></i>
      <i class="fa fa-circle red2" aria-hidden="true" title="red2"></i>
      <i class="fa fa-circle d-green" aria-hidden="true" title="d-green"></i>
      <i class="fa fa-circle violet" aria-hidden="true" title="violet"></i>
      <i class="fa fa-circle orange" aria-hidden="true" title="orange"></i>
      <i class="fa fa-circle d-grey" aria-hidden="true" title="d-grey"></i>
      <i class="fa fa-circle l-blue" aria-hidden="true" title="l-blue"></i>
      <i class="fa fa-circle brown" aria-hidden="true" title="brown"></i>
      <i class="fa fa-circle pink" aria-hidden="true" title="pink"></i>
      <i class="fa fa-circle yell" aria-hidden="true" title="yell"></i>
    </span>
    <span class="type" title="interinstitutional">
      <i class="fa fa-gavel" aria-hidden="true"></i>
    </span>
  </div>

  {{!-- Content --}}
  <div class="content title">
    <a href="" target="-blank">
      {{content}}
    </a>
  </div>

</div>
{{/each}}