<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    
    <staticContent>
      <clientCache cacheControlMode="NoControl" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>

    <rewrite>
      <rules>

        <rule name="Rewrite root index" stopProcessing="true" enabled="true" >
          <match url="^(.*)(api|uxs|assets|js|css|ico|gif|png|jpg|ttf|eot|woff|woff2)(.*)" ignoreCase="true" negate="true" />
          <action type="Rewrite" url="index.html" />
        </rule>

        <rule name="Rewrite spa requests" stopProcessing="true" enabled="false">
          <!-- match everything by default -->
          <match url=".*" />

          <!-- when given some conditions -->
          <conditions logicalGrouping="MatchAll">
            <!-- unless its a file -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- or a directory -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <!-- or is under the /api directory -->
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            <!-- or is under the /uxs directory -->
            <add input="{REQUEST_URI}" pattern="^/(uxs)" negate="true" />
          </conditions>

          <!-- rewrite it to /app/* -->
          <action type="Rewrite" url="/app/{REQUEST_URI}" />
        </rule>

      </rules>
    </rewrite>
    
    <httpErrors errorMode="Detailed" />
    <directoryBrowse enabled="false" />
    
  </system.webServer>
  
</configuration>