<link rel="stylesheet" type="text/css" href="/src/app/layout/footer/footer.component.css">

<footer class="footer">
  <div class="container">
    {{!-- <p class="text-muted">Work in progress</p> --}}
    <div class="content-footer">
      <p>
        Page © - 2018
        <br> Techday By
        <a href="https://www.cor.europa.eu" target="_blank">CoR</a>
      </p>
    </div>
  </div>
</footer>