<div class="row ">
  <div class="col-xs-12">
    <p class="pull-right">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="canvas">
        <i class="glyphicon glyphicon-chevron-left"></i>
      </button>
    </p>
  </div>
</div>

<div class="row offcanvas right">

  <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs">
    <div class="jumbotron">
      <h2>Summary box</h2>
      <p>
        This is an example to show the potential of an offcanvas layout pattern in Bootstrap.
      </p>
      <p>
        Try some responsive-range viewportsizes to see it in action.
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="jumbotron">
      <h2>Records box</h2>
      <p>
        This is an example to show the potential of an offcanvas layout pattern in Bootstrap. 
      </p>
      <p>
        Try some responsive-range viewportsizes to see it in action.
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 sidebar">
    <div class="list-group">
      <a class="list-group-item">Link</a>
      <a class="list-group-item active">Link</a>
      <a class="list-group-item">Link</a>
      <a class="list-group-item">Link</a>
      <a class="list-group-item">Link</a>
      <a class="list-group-item">Link</a>
      <a class="list-group-item">Link</a>
      <a class="list-group-item">Link</a>
      <a class="list-group-item">Link</a>
      <a class="list-group-item">Link</a>
    </div>
  </div>
</div>