<div id="breweriesPanel" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Breweries</h3>
    </div>
    <div class="panel-body">
        <a href="/breweries/search?q=belgium" data-navigo>Search by term</a><br />
        <a href="/breweries/1" data-navigo>Expand details level</a><br />
        <a href="/breweries/1/beers?q=ruby" data-navigo>Expand beers level</a><br />
        <a href="/breweries/1/beers/2" data-navigo>Expand beer level</a><br />
    </div>
</div>