body {
  overflow-x: hidden;
}

.off-canvas-toggle {
  float: left;
  padding: 0 15px;
}

.off-canvas {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: .4s ease-in-out;
  z-index: 1060;
}

.off-canvas-active .off-canvas {
  transform: translateX(0);
}

.navbar-fixed-top {
  transition: .4s ease-in-out;
  width: 100%;
}

.page-wrapper {
  padding-top: 50px;
  transition: .4s ease-in-out;
}

.off-canvas-active .page-wrapper,
.off-canvas-active .navbar-fixed-top {
  transform: translateX(300px);
}

.list-group {
  padding: 20px;
}

.off-canvas-active {
  visibility: visible;
}