* { 
  box-sizing: border-box; 
}

.grid {
}

.grid-col {
  float: left;
  width: 99%;
  margin-right: 1%;
}

.grid-col--1 {
  display: none; 
}

.grid-col--2 { 
  display: none; 
}

.grid-col--3 { 
  display: none; 
}

.grid-col--4 {
  display: block; 
  margin-right: 0; 
}

@media (min-width: 768px) {
  .grid-col { 
    width: 49%; 
  }

  .grid-col--1 { 
    display: none; 
  }

  .grid-col--2 { 
    display: block; 
  }

  .grid-col--3 { 
    display: block; 
  }
}

@media (min-width: 970px) {
  .grid-col { 
    width: 32%; 
  }

  .grid-col--1 { 
    display: block; 
  }

  .grid-col--2 { 
    display: block; 
  }

  .grid-col--3 { 
    display: block; 
  }
}

@media (min-width: 1200px) {
  .grid-col { 
    width: 23.5%; 
  }

  .grid-col--1 { 
    display: block; 
  }

  .grid-col--2 { 
    display: block; 
  }

  .grid-col--3 { 
    display: block; 
  }
}

.grid-item {
  margin-bottom: 5px;
}
