<div id="content" class="container-fluid">

    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <h6>Some tasks</h6>
            <ul>
              {{#each tasks}}
              <li>
                  {{name}}
              </li>
              {{/each}}
            </ul>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

</div>




