/*----------------------------------------
  #global-timeline-demo
----------------------------------------
<article class="month">
	<span class="month_label">Juni</span>
	<div class="badge month_1st">
		<a href="#" data-toggle="popover" title="01/06/2016" data-content="EC publishes Mid-Term Review of the Investment Plan">
			<span class="icon-big fa fa-bar-chart"></span>
			<span class="icon-big fa fa-bullhorn"></span>
		</a>
	</div>

*/

/* stack each node vertically */
article.month div {
}
section article {
}


section {
	height:100%;
	text-align:center;
}

/* 1 year */
.one_year article {
	height:8.333333%; /* 100 / 12 = 8,33333 */
}

/* 6 months */
.six_month article {
	height:16.66666%; /* 100 / 6 = 16,66666 */
	z-index:10;
}

/* 2 months */
.two_month article {
	height:50%; /* 100 / 2 = 50 */
	width:100px;
	margin-left:45%;
}

.month {
	border: 1px solid #e8e8e8;
	border-bottom:none;
	border-radius: 6px;
	background: #fff;
	background: -webkit-linear-gradient(#fff, #efefef);
	background: -o-linear-gradient(#fff, #efefef);
	background: -moz-linear-gradient(#fff, #efefef);
	background: linear-gradient(#fff, #efefef);
}
.month_label {
	color:#888;
	border: 1px solid #e8e8e8;
	border-radius: 0 0 200px 200px;
	-moz-border-radius: 0 0 200px 200px;
	-webkit-border-radius: 0 0 200px 200px;
	background: #fff;
	background: -webkit-linear-gradient(#fff, #efefef);
	background: -o-linear-gradient(#fff, #efefef);
	background: -moz-linear-gradient(#fff, #efefef);
	background: linear-gradient(#fff, #efefef);
	font: 12px/14px 'Armata', Arial, sans-serif;
	position:absolute;
	text-transform:uppercase;
	left:50px;
	padding:3px 15px 5px 15px;
}
section.red{
	background:none;
}
section.red .badge{
	background:#ee3853; /* red */
	border-radius: 0px 200px 200px 0;
	-moz-border-radius: 0px 200px 200px 0;
	-webkit-border-radius: 0px 200px 200px 0;
	margin-left:50px;
	padding:8px;
	z-index:1000;
}





section a:link,
section a:visited {
	color:#fafafa;
}
section a:hover {
	color:#fff;
	text-decoration:none;
}

.line {
	width:4px;
	position:absolute;
	left:50%;
	height:100%;
	text-align:center;
	z-index:1;
}
	/* all the themes */
	.line.red {
		background:#ee3853; /* red */
	}


/* position the nodes in a month */
.month_1st {position:relative; left:0; top:0.01%;}
.month_4th {position:relative; left:0; top:10%;}
.month_6th {position:relative; left:0; top:15%;}
.month_7th {position:relative; left:0; top:20%;}
.month_8th {position:relative; left:0; top:25%;}
.month_9th {position:relative; left:0; top:30%;}
.month_12th {position:relative; left:0; top:40%;}
.month_13th {position:relative; left:0; top:47%;}
.month_15th {position:relative; left:0; top:50%;}
.month_16th {position:relative; left:0; top:55%;}
.month_18th {position:relative; left:0; top:60%;}
.month_20th {position:relative; left:0; top:70%;}
.month_21th {position:relative; left:0; top:73%;}
.month_22th {position:relative; left:0; top:75%;}
.month_24th {position:relative; left:0; top:80%;}
.month_25th {position:relative; left:0; top:85%;}
.month_27th {position:relative; left:0; top:82%;}
.month_28th {position:relative; left:0; top:85%;}
.month_30th {position:relative; left:0; top:90%;}
.month_31th {position:relative; left:0; top:95%;}























.demo_nav {
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #fff;
	background: -webkit-linear-gradient(#fff, #e8e8e8);
	background: -o-linear-gradient(#fff, #e8e8e8);
	background: -moz-linear-gradient(#fff, #e8e8e8);
	background: linear-gradient(#fff, #e8e8e8);
	position: absolute;
    left: 50px;
    top: 50px;
    z-index: 100;
}
.demo_nav ul {
	margin:0;
	padding:0;
}
.demo_nav li {
	list-style-type:none;
	margin-bottom:10px;
	padding:5px 10px;
}
.demo_nav li a{	
	list-style-type:none;
}
