<div id="accountPanel" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Account</h3>
    </div>
    <div class="panel-body">
        Account stuff
    </div>
</div>