
<div class="filters">
  <div class="toggle col-xs-12 col-sm-12 col-md-12">
    <a class="btn active">All</a>
    <a class="btn" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
        <i class="fa fa-tag"></i> Themes
    </a>
  </div>
  <ul class="pills col-xs-12 col-sm-12 col-md-12" id="collapse">
    <li><a href="" class="badge active">All</a></li>
    <li><a href="#" class="badge"><i class="fa fa-circle turquoise" aria-hidden="true"></i> Agriculture, Maritime and Consumer policies</a></li>
    <li><a href="#" class="badge"><i class="fa fa-circle green" aria-hidden="true"></i> Cohesion Policy</a></li>
    <li><a href="#" class="badge"><i class="fa fa-circle purp" aria-hidden="true"></i> Constitutional and Institutional Affairs</a></li>
    <li><a href="#" class="badge"><i class="fa fa-circle red" aria-hidden="true"></i> Economy and Finance</a></li>
    <li><a href="" class="badge"><i class="fa fa-circle d-green" aria-hidden="true"></i> Education and Culture</a></li>
    <li><a href="" class="badge"><i class="fa fa-circle violet" aria-hidden="true"></i> Employment and Social Policy</a></li>
    <li><a href="" class="badge"><i class="fa fa-circle orange" aria-hidden="true"></i> Energy efficiency, market and technology</a></li>
    <li><a href="" class="badge"><i class="fa fa-circle d-grey" aria-hidden="true"></i> Enterprise and Industry</a></li>
    <li><a href="" class="badge"><i class="fa fa-circle l-blue" aria-hidden="true"></i> Environment</a></li>
    <li><a href="" class="badge"><i class="fa fa-circle brown" aria-hidden="true"></i> External relations, Enlargement and Neighbourhood Policy</a></li>
    <li><a href="" class="badge"><i class="fa fa-circle pink" aria-hidden="true"></i> Justice and Home Affairs</a></li>
    <li><a href="" class="badge"><i class="fa fa-circle yell" aria-hidden="true"></i> Transport</a></li>
  </ul>
</div>

